.button {
  font-size: 150%;
  height: 50px;
  width: 50px;
}

.button-zero {
  font-size: 150%;
  height: 50px;
  width: 100px;
}

.calculatorApp {
  background-color: black;
  width: 200px;
}

.display {
  color: white;
  overflow: hidden;
  float: left;
  font-size: 150%;
  background: black;
  height: 20%;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  padding: 0px 5px 0px 5px;
}

.display-under div {
  display: inline-block;
}


.display-option {
  float: left;
  color: white;
}
